#!/bin/sh

alias \
    h=$HOME						\
    sc=$SCRIPTS 					\
    cf=$HOME"/.config/"			        	\
    em=$HOME"/.emacs.d/"				\

alias \
         v="vim "                                       \
         vmi="vim "                                     \

alias\
     	mkdir="mkdir -vp"		              	\
        rm="rm -rfiv"			       		\
    	mv="mv -iv"	                    		\
        ls="ls --color=auto"                            \

alias\
	df="df -H"	 	                        \
	stn="sudo shutdown now" 			\
	ss="sudo su "					\
	la="ls -alx "					\
	mk="sudo make clean install" 			\
	pp="pulsemixer"					\




