[Desktop Entry]
Name=Alarm Clock
Icon=alarm-clock
Exec=alarm-clock-applet
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
X-Ubuntu-Gettext-Domain=alarm-clock
