[Desktop Entry]
Name[pt_BR]=Executar software
Name=Run Software
TryExec=nautilus-autorun-software
Exec=GTK_THEME=Materia-dark-compact: nautilus %u
Icon=nautilus
Terminal=false
StartupNotify=true
Type=Application
MimeType=x-content/unix-software;
