[Desktop Entry]
Type=Application

Name=Xournal++
Comment=Take handwritten notes
Keywords=Tablet;Wacom;Pen Input;PDF Annotation;Markup
Exec=xournalpp /home/jefter66/Dropbox/.xournalpp/template.xopp %f
Terminal=false
StartupNotify=true
MimeType=application/x-xoj;application/x-xojpp;application/x-xopp;application/x-xopt;application/pdf;
Icon=xournalpp
Categories=Office;GNOME;GTK;
